<!DOCTYPE html>
<html>
  <head>
    <title>Booking Submitted</title>
    {% include "bootstrap.html" %}
    
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
      <div>
      <h4>Your booking request has been submitted</h4>
      <p>We will get back to you soon.</p>
      </div>
      
      <b>Package Name</b>
      <div class="mb-2">{{name.title}}</div>
      
      <b>Full Name</b>
      <div class="mb-2">{{booking.full_name}}</div>
      
      <b>Contact Number</b>
      <div class="mb-2">{{booking.phone}}</div>
    
      <b>Email</b>b
      <div class="mb-2">{{booking.email}}</div>

      <b>Travel Date</b>
      <div class="mb-2">{{booking.travel_date}}</div>

      <b>Number of Adult</b>
      <div class="mb-2">{{booking.adult}}</div>

      <b>Number of Children (Age 3 - 11 years old)</b>
      <div class="mb-2">{{booking.child}}</div>

      <b>Number of Toddler (Age 0 - 2 years old)</b>
      <div class="mb-2">{{booking.toddler}}</div>

      <b>Package / Trip Information</b>
      <div class="mb-2">{{name.info}}</div>
      
      <b>Price Per Person in Malaysian Ringgit (MYR)</b>
      <div class="mb-2">{{name.price}}</div>
      
      <b>Requirements</b>
      <div class="mb-2">{{name.requirements}}</div>
      
      <b>Package Includes</b>
      <div class="mb-2">
        <ol>
          {% if name.includes %}
            {% for line in name.includes.split("\n") %}
              <li>{{line}}</li>
            {% endfor %}
          {% endif %}
        </ol>
      </div>
      
      <b>Package Excludes</b>
      <div class="mb-2">
        <ul>
          {% if name.excludes %}
            {% for line in name.excludes.split("\n") %}
              <li>{{line}}</li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
      
      <b>Terms & Conditions</b>
      <div class="mb-2">{{name.notes}}</div>

    </div>
    {% include 'footer.html' %}
  </body>
</html>