<!DOCTYPE html>
<html>
  <head>
    <title>{{tour.title}} - {{name}}</title>
  </head>
  <body>
    <h3>Title</h3>
    <p>{{tour.title}}</p> 
    <h3>Information</h3>
    <p>{{tour.info}}</p>
    <h3>Price Per Person in Malaysian Ringgit (MYR)</h3>
    <p>{{tour.price}}</p>
    <h3>Requirements</h3>
    <p>{{tour.requirements}}</p>
    <h3>Package Includes</h3>
    <p>{{tour.includes}}</p>
    <h3>Package Excludes</h3>
    <p>{{tour.excludes}}</p>
    <h3>Terms & Conditions</h3>
    <p>{{tour.notes}}</p>
  </body>
</html>